/* CSS代码顺序会从上往下覆盖 */
@font-face {
    font-family: "方正粗黑宋简体";
    src: url("font/方正粗黑宋简体.ttf");
}
@font-face {
    font-family: "华文中宋";
    src: url("font/STZHONGS.ttf");
}
@font-face {
    font-family: "Bembo";
    src: url("font/bembo.otf");
}

body {
    margin: 0px;
}
.page {
    width: 100vw;
    height: 100vh;
}
.text_black {
    color: rgb(33, 33, 33);
}
