.catalogue-main-bg {
    position: relative;
    width: 700px;
    height: 2000px;
    margin-bottom: 20px;
    margin-top: -410px;
    margin-left: 510px;
    
    background-color: rgba(237, 233, 228, 0.9);
    border-radius: 5px;
}