.main-bg {
    position: relative;
    width: 800px;
    height: 1400px;
    margin-bottom: 20px;
    margin-top: -380px;
    margin-left: 660px;
    border-radius: 5px;
    background-color: rgba(246, 245, 239,0.8);
}